.latest-container{
    background: black;
    font-family: Poppins;
    color: #FFFFFF;
    padding:2%;
    display:flex;
    flex-direction: column;

    .top-content{
        display: flex;
        align-items: center;

        h1{
            font-size: 60px;
            font-weight: 300;
            line-height: 69px;
            margin-right: 2rem;
    
            span{
                font-weight: 900;
                text-align: left;
                margin-right:1rem;
            }
        }

        span.line{
            flex:1;
            height: 20px;
            top: 66px;
            left: 438px;
            background: red;
        }
    }
    
    .videos-container{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .view-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:4rem;

        a{
            font-size: 30px;
            font-weight: 400;
            border:3px solid red;
            padding:0.5rem 4rem;
        }
    }
}